<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Medi2GoConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Medi2Go;Integrated Security=True;Connect Timeout=30;Encrypt=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>
